.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #ffffff;
  color: #0f0f0f;
}

.footer {
  text-align: center;
}

.header-menu {
  justify-content: flex-end;
 
}

.links li {
  padding-left: 2rem;
  margin-right: 2rem;
  padding-right: 2rem;
}

.header-section {
  padding: 3rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.banner-image img {
  width: 100%;
  padding: 2rem;
}

li a {
  color: black !important;
} 
li {
  border-right: 1px solid;
}

.about-us {
  display: flex;
  flex-direction: row;
  margin: 0 5rem;
}
.left-half img{
  width: 100%;
}



.card .card-body {
  position: relative;
  top: -10rem;
}
.gallery-image .card-img{
  height: 20rem;
}
.gallery-image .card, .gallery-sec .card {
  border: none;
}
.gallery-sec .card-img{
  height: 20rem;
}
